body{
    background-color:black;
}
h1{
    color:aliceblue;
}
#p1{
    color:red;
}
#p2{
    color:cadetblue;
}
#p3{
    color:antiquewhite;
}
.odd{
    color:green;
}
.even{
    color:aliceblue;
}
.both{
    color:orange;
}